@font-face {
    font-family: "Segoe WPC";
    src: url("segoewp.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe WPC Light";
    src: url("segoewplight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe WPC Black";
    src: url("segoewpblack.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
      